BODY {
	background-color: #504533;
	text-align: center;
	margin: 0;
	background-image: url(images/bg.jpg);
	background-repeat: repeat-x;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}
img {
	border: none;
}
#container {
	width: 800px;
	min-height: 600px;
	margin: auto;
}
#header {
	background-image: url(images/header.jpg);
	height: 120px;
	width: 800px;
	text-align: center;
	margin: 0;
}
#header h2 a{
	color: #F0A830;
	margin: 0;
	text-decoration:none;
	font-size:25px;
}
#content {
	text-align: left;
	background-color: f2f2f2;
	min-height: 480px;
	border-bottom: 1px solid #A1A1A1;
	background: url(images/contentbg.jpg) repeat-x top;
	padding: 10px;
	color: #FFF9E3;
}
#content hr {
	color: #FFE8B7;
	height: 1px;
	width: 300px;
	text-align: center;
}

#content h1, h2, h3, h4, h5, h6 {
  	color: #F0A830;
	font: bolder italic;
	margin: 0;
}

#content h1 {
  font-size: 26px;
}

#content h2 {
  font-size: 24px;
}

#content h3 {
  font-size: 22px;
}

#content h4 {
  font-size: 20px;
}

#content h5 {
  font-size: 18px;
}

#content h6 {
  font-size: 16px;
}

#content p {
	font-size: 13px;
}
#content a:hover {
	color: #ABABAB;
}
#content a {
	color: #F0A830;
	text-decoration: none;
}
#news {
	background-color: #45290B;
	color: white;
	border: 1px dashed yellow;
	width: 160px;
	padding: 4px;
	clear: right;
	float: right;
	text-align: left;
}
#news .header {
	color: Yellow;
	font-weight: bolder;
	font-size: 14px;
	border-bottom: thin dotted white;
}
#news p {
	font-size: 11px;
	margin: 2px 0 2px 0;
}
#news .link {
	text-align:center;
}
#news a {
	color: #ABABAB;
	text-decoration: none;
}
#news a:hover {
	color: #F0A830;
}
.float-left {
	clear: left;
	float: left;
}
.float-right {
	clear: right;
	float: right;
}

#footer {
	width: 800px;
	height: 40px;
	text-align: center;
	color: #F0A830;
	background-color: #1A1B20;
	font-size: 12px;
}
#footer a {
	color: #ABABAB;
	text-decoration: none;
}
#footer a:hover {
	color: #F0A830;
}
#navigation {
        background: #1A1B20;
        border-bottom: 1px solid #A1A1A1;
        margin: 0;
        padding: 0 ;
        font-weight: bold;
}
#navigation ul, #navigation ul li {
        list-style: none;
        margin: 0;
        padding: 0;
}
#navigation ul {
        padding: 10px 0px 5px;
        text-align: center;
}
#navigation ul li {
        display: inline;
}
#navigation ul li a {
        background: url(images/tableft.gif) no-repeat left top;
        color: black;
        text-decoration: none;
        padding: 5px 0;
}
#navigation ul li span {
        background: url(images/tabright.gif) no-repeat right top;
        padding: 5px 15px 5px 10px;
        margin: 4px 0 4px 4px;
	text-align:center;
}
#navigation ul li a:hover span {
        text-decoration: none;
        background-position: 100% -75px;
}
#navigation ul li a:hover {
        background-position: 0 -75px;
}
#navigation #current a {
        background-position: 0 -150px;
}
#navigation #current a span {
        background-position: 100% -150px;
}


/*- Internet Explorer...It's Hacktastic!--------------------------- */

/*\*//*/
#navigation ul li a {
        display: inline-block;
        white-space: nowrap;
        width: 1px;
}

#navigation ul {
        padding-bottom: 0;
        margin-bottom: -1px;
}
/**/

/*\*/
* html #navigation ul li a {
        padding: 0;
}
/**/