body
{
	background-color: #3f5475;
	font-family: Georgia, Palatino, serif;
	font-size: 12px;
	margin: 0;
	padding: 0;
}

#header
{
	background-image: url(images/top_bg.gif);
	height: 44px;
	border-bottom: 1px solid white;
}

#header #title
{
	width: 800px;
	margin-left: auto;
	margin-right: auto;
/*	background-image: url(images/stripes.png);
	background-repeat: no-repeat;
	background-position: right;*/
}

#header h1 a
{
	text-decoration:none;
	margin: 0px;
	font-size: 36px;
	line-height: 44px;
	font-weight: bold;
	color: white;
	letter-spacing: 1px;
}



#navbar
{
	height: 20px;
	background-image: url(images/menu_bg.gif);
	background-color: black;
	background-repeat: repeat-x;
}

#navbar ul
{
	margin: 0px;
	padding: 0px;
	list-style: none;
	height: 20px;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}

#navbar ul li
{
	display: block;
	width: auto;
	float: left;
	height: 20px;
	line-height: 20px;

	font-size: 11px;
	font-weight: bold;
	color: white;
	list-style: none;
}

#navbar ul li.right
{
	float: right;
}

#navbar ul li a
{
	display: block;
	width: auto;
	padding-left: 14px;
	padding-right: 14px;
	color: white;
	text-decoration: none;
}

#navbar ul li a:hover, #navbar ul li.active a
{
	background-color: white;
	background-image: url(images/menu_bg_hover.gif);
	color: black;
}

#shadow
{
	position: absolute;
	width: 100%;
	top: 65px;
	background-image: url(images/shadow.png);
	_background-image: none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/shadow.png',sizingMethod='scale');
	height: 5px;

}

#body
{
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	border-left: 2px solid #2f3753;
	border-right: 2px solid #2f3753;
	background-color: white;
	padding-top: 1px;
	background-image: url(images/sidebar.gif);
	background-repeat: repeat-y;
	background-position: left;
}

#sidebar
{
	width: 179px;
	padding: 8px 10px 16px 10px;
	float: left;
}

#sidebar h2
{
	margin: 8px 0px 2px 0px;
	font-size: 12px;
	border-bottom: 1px solid black;
}

#sidebar ul.tree
{
	clear: both;
	margin-top: 8px;
}

#sidebar ul.tree, #sidebar ul.tree ul
{
	background-image: url(images/sidebar_list_bg.gif);
	background-position: 3px 2px;
	list-style: none;
	margin-left: 0;
	padding-left: 0;
}

#sidebar ul.tree ul
{
	
}

#sidebar ul.tree li
{
	margin-top: 3px;
	margin-bottom: 3px;

}

#sidebar ul.tree ul li
{
	font-size: 0.9em;
	padding-left: 18px;
	background-image: url(images/h_dotted.gif);
	background-repeat: no-repeat;
	background-position: 4px 6px;
}

#sidebar ul.tree ul ul li:last-child, #sidebar ul.tree li.last
{
	background-image: url(images/h_dotted_last.gif);
	background-position: 0px 6px;
}

#sidebar ul.tree li a
{
	padding-left: 12px;
	background-image: url(images/sidebar_link_unread.gif);
	background-repeat: no-repeat;
	background-position: left center;
	color: #2e3753;
	font-weight: bold;
	text-decoration: none;
}

#sidebar ul.tree li a:hover
{
	background-image: url(images/sidebar_link_hover.gif);
	text-decoration: underline;
}

#sidebar ul.tree li a:visited
{
	background-image: url(images/sidebar_link_read.gif);
}

.flickr-thumbnail, .flickr-pullout {
	float: left;
		background: url('images/flickr_shadow.gif') no-repeat bottom right;
	margin: 5px 0px 0px 6px;
 	padding: 0px 0px 0px 0px;
	display: block;
	width: auto;
	_position: relative;
	}

.flickr-thumbnail img, .flickr-pullout img {
		 background-color: #fff;
	 border: 1px solid #a9a9a9;
	 display: block;
	 margin: -5px 5px 5px -5px;
	 padding: 4px;
	 position: relative;
	}

.flickr-thumbnail img:hover, .flickr-thumbnail:hover img, .flickr-pullout:hover img {
	background-color: #ccd;
}

.flickr-pullout
{
	margin: 13px 3px 3px 14px;
	background-image: url(images/flickr_shadow_white.gif);
	
}

#content
{
	padding: 0px 20px 20px 20px;
	margin-left: 200px;
	font-size: 13px;
}

#content h1, h2, h3, h4, h5, h6
{
	font-style: italic;
	margin-top: 12px;
	margin-bottom: 2px;
}

#content h1 {
 	font-size: 26px; 
}

#content h2 {
 	font-size: 24px; 
}

#content h3 {
 	font-size: 22px; 
}

#content h4 {
 	font-size: 20px; 
}

#content h5 {
 	font-size: 18px; 
}

#content h6 {
 	font-size: 16px; 
}

#content .date
{
	float: right;
}

#content .postedBy
{
	float: left;
}

#content .meta
{
	height: 1em;
}

#content p
{
/*	text-indent: 1em;*/
	line-height: 1.5em;
	text-align: justify;
	
}

#content a
{
	color: #3f5475;
}

#content a:visited
{
	color: #2f3753;
}

.comments
{
	border-top: 1px dotted #666666;
	border-bottom: 1px dotted #666666;
	padding: 4px;
	text-align: right;
	margin-bottom: 2em;
	background-image: url(images/comment_edit.gif);
	background-repeat: no-repeat;
	background-position: center left;
}

#footer
{
	clear: both;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	border-top: 1px solid #b0b0b0;
	border-bottom: 1px solid #b0b0b0;
	background-color: #eaeaea;
	color: #b0b0b0;

}

/* Form elements */
input, textarea
{
	font-family: Verdana, "Lucida Grande", sans-serif;
	font-size: 11px;
	padding: 2px;
	background-color: #eaeaea;
	border: 1px solid #333333;
}

input:focus, textarea:focus
{
	background-color: #f9e089;
}

button
{
	border: 3px double #999999;
	border-top-color: #CCCCCC;
	border-left-color: #CCCCCC;
	padding: 3px 10px 3px 10px;
	background-color: #FFFFFF;
	background-image: url(images/button_bg.gif);
	background-repeat: repeat-x;
	color: #333333;
	font-size: 11px;
	font-weight: bold;
	font-family: Verdana, "Lucida Grande", sans-serif;
}

button:focus
{
	-moz-border-bottom-colors: #999999 #738fb3 #999999;
	-moz-border-right-colors: #999999 #738fb3 #999999;
	-moz-border-top-colors: #CCCCCC #738fb3 #CCCCCC;
	-moz-border-left-colors: #CCCCCC #738fb3 #CCCCCC;
}

button:active
{
	border: 3px double #CCCCCC;
	border-top-color: #999999;
	border-left-color: #999999;
	-moz-border-bottom-colors: #999999 #738fb3 #999999;
	-moz-border-right-colors: #999999 #738fb3 #999999;
	-moz-border-top-colors: #CCCCCC #738fb3 #CCCCCC;
	-moz-border-left-colors: #CCCCCC #738fb3 #CCCCCC;
	
	padding: 4px 9px 2px 11px;
}

form.sheet fieldset
{
	border: 1px solid #3f5475;
	padding: 12px;
	display: block;
}

form.sheet fieldset legend
{
	background-color: #3f5475;
	padding: 4px 6px 4px 6px;
	color: white;
	font-weight: bold;
	_margin-bottom: 12px;
}

form.sheet label
{
	display: block;

	width: 20%;
	float: left;
	margin-bottom: 10px;
	padding-right: 2%;
	
	margin-right: 1%;
	_margin-right: 0;
	text-align: right;
}

form.sheet input, form.sheet textarea
{
	display: block;
	_margin-left: -7%; /* fixes a wacky IE bug */
	width: 75%;
	float: left;
	margin-bottom: 10px;
}

form.sheet br
{
	clear: left;
}

form.sheet button
{
	float: right;
	
	margin-left: 14px;
}

/* End of form elements */

/* blockquote styles */
blockquote
{
	background-color: #dbffd1;
	border-top: 1px dotted #a1d97e;
	_border-top: 1px solid #a1d97e; /* dotting looks bad in IE, revert to solid */
	border-bottom: 1px dotted #a1d97e;
	_border-bottom: 1px solid #a1d97e; /* dotting looks bad in IE, revert to solid */
	padding: 12px;
	padding-left: 36px;
	margin-right: 5%;
	margin-left: 5%;
	background-image: url(images/blockquote.gif);
	background-repeat: no-repeat;
	background-position: top left;
}

blockquote.info, blockquote.error, blockquote.allgood
{
	background-position: 10px center;
}

blockquote.info
{
	background-image: url(images/blockquote_info.gif);
}

blockquote.error
{
	background-image: url(images/blockquote_error.gif);
	background-color: #ffded5;
	border-top: 1px dotted #d99d80;

	border-bottom: 1px dotted #d99d80;
}

blockquote.allgood
{
	background-image: url(images/blockquote_allgood.gif);
}

blockquote p, #content blockquote p
{
	margin: 0px;
	text-indent: 0px;
}

/* end of blockquote styles */


.right
{
	float: right;
}